<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <h1  alt="" width="30" height="24" style="color: #325288;">Juicymo</h1>
  </a>
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      <% else %>
        <button type="button" class="btn btn-light btn-sm">
          <%= link_to 'Sign in', new_user_session_url %>
        </button>
        <button type="button" class="btn btn-dark btn-sm ml-3">
          <%= link_to 'Sign up', new_user_registration_url %>
        </button>
      <% end %>
    </ul>
</nav>