

<h1>All tags</h1>

<ul>
  <% @tag.each do |tag| %>
    
    <li class="list-group-item d-flex justify-content-between">
      <div>
        <%= tag.title %>
      </div>
      <div>
        <td><%= link_to 'Destroy', [tag.project, tag],class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
        
    </li>
<br>
  <% end %>
</ul>

