<h1>Listing tags</h1>

<<ul>
  <% @tag.each do |tag| %>
    <li><%= tag.title %></li>
    <li class="list-group-item">
      <%= tag.title %>
      
                  <td><%= link_to 'Destroy', [tag.project, tag],class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </li>
<br>
  <% end %>
</ul>

